* {
  box-sizing: border-box;
}

body {
  display: block;
  width: 100vw;
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

h1 {
  text-align: center;
  margin-top: 10px;
  color: blue;
}

.button {
  position: flex;
  width: inherit;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}


button {
  /* width: 30vw; */
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
}

li {
  list-style: none;
}