* {
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(228, 11, 163);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.btn {
  background-color: rebeccapurple;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  border: none;
  padding: 1.5rem 3rem;
  font-family: inherit;
}

.btn:focus,
.btn:hover {
  opacity: 0.9;
  outline: none;
}
